name: Build Docker image

on:
  push:
#     branches:
#       - master
  pull_request:

jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout
      uses: actions/checkout@master
      
    - name: build hpccm
      run: docker build . -f .github/workflows/Dockerfile.hpccm -t hpccm
      
    - name: generate recipe
      run: docker run -v `pwd`:/workspace hpccm --recipe /workspace/megadock_hpccm.py --format docker > /workspace/Dockerfile
      
    - name: build megadock
      run: docker build . -f Dockerfile -t megadock:hpccm
      
    - name: check
      run: docker run -it megadock:hpccm /workspace/megadock-gpu-dp -h
