name: Build Docker image

on:
  push:
#     branches:
#       - master
  pull_request:

jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    
    steps:
    - name: checkout
      uses: actions/checkout@master
      
    - name: build hpccm
      run: docker build . -f .github/workflows/Dockerfile -t hpccm
      
    - name: generate recipe
      run: docker run -v ${HOME} hpccm --recipe ${HOME}/megadock_hpccm.py --format docker > ${HOME}/Dockerfile.general
      
    - name: build megadock
      run: docker build . -f Dockerfile.general -t megadock:hpccm
      
    - name: check
      run: docker run -it megadock:hpccm /workspace/megadock-gpu-dp -h
